* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Rubik', 'Rubik Dirt', 'Rubik Mono One', sans-serif;
}

#renderCanvas {
    width: 100vw;
    height: 100vh;
    touch-action: none;
    overflow: hidden;
}